services:
  norookezi.fr:
    read_only: true
    cap_drop: [ALL]
    user: 9944:9944
    security_opt:
      - no-new-privileges:true
    container_name: norookezi.fr
    pids_limit: 100
    mem_limit: 512M
    tmpfs:
      - /tmp:rw,noexec,nosuid,nodev,size=64m
      - /dev/shm:rw,noexec,nosuid,nodev,size=64m
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "81:3000"
    volumes:
      - /norookezi.fr/node_modules
    environment:
      - NODE_ENV=production
    restart: always
    cpus: "0.5"
    # TBD ?
    #memory: 512M
