@import "tailwindcss";

@theme {
    --animate-blink: blink .5s ease-in-out infinite;

    @keyframes blink {

        0%,
        100% {
            opacity: 0;
        }

        10%, 20% {
            opacity: 1;
        }

        30% {
            opacity: 1;
        }


    }
}

@custom-variant dark (&:where(.dark, .dark *));

body, html {
    scroll-snap-type: y mandatory;
}